<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arthur.stock.mapper.CashflowMapper">

    <resultMap id="cashflowMap" type="com.arthur.stock.model.CashflowDO">
        <id column="id" property="id"/>
        <result column="ts_code" property="tsCode"/>
        <result column="ann_date" property="annDate"/>
        <result column="f_ann_date" property="fAnnDate"/>
        <result column="end_date" property="endDate"/>
        <result column="report_type" property="reportType"/>
        <result column="comp_type" property="compType"/>
        <result column="n_cashflow_act" property="nCashflowAct"/>
        <result column="n_cashflow_inv_act" property="nCashflowInvAct"/>
        <result column="n_cash_flows_fnc_act" property="nCashFlowsFncAct"/>
        <result column="free_cashflow" property="freeCashflow"/>
        <result column="c_fr_sale_sg" property="cFrSaleSg"/>
        <result column="c_fr_oth_sg" property="cFrOthSg"/>
        <result column="c_paid_goods_s" property="cPaidGoodsS"/>
        <result column="c_paid_to_for_empl" property="cPaidToForEmpl"/>
        <result column="c_paid_for_taxes" property="cPaidForTaxes"/>
        <result column="c_paid_oth_op_f" property="cPaidOthOpF"/>
        <result column="c_paid_invest" property="cPaidInvest"/>
        <result column="c_paid_invest_f" property="cPaidInvestF"/>
        <result column="c_pay_acq_const_fiolta" property="cPayAcqConstFiolta"/>
        <result column="c_pay_acq_int_long_loan" property="cPayAcqIntLongLoan"/>
        <result column="disp_fix_assets_oth" property="dispFixAssetsOth"/>
        <result column="n_invest_loss" property="nInvestLoss"/>
        <result column="c_fr_fnc_loan" property="cFrFncLoan"/>
        <result column="c_fr_fnc_oth" property="cFrFncOth"/>
        <result column="proceeds_long_loan" property="proceedsLongLoan"/>
        <result column="c_paid_fin_fees" property="cPaidFinFees"/>
        <result column="c_pay_dist_dpcp_int_exp" property="cPayDistDpcpIntExp"/>
        <result column="end_bal_cash" property="endBalCash"/>
        <result column="beg_bal_cash" property="begBalCash"/>
        <result column="n_cash_equ" property="nCashEqu"/>
        <result column="n_increase_incl_child" property="nIncreaseInclChild"/>
        <result column="prov_depr_assets" property="provDeprAssets"/>
        <result column="depr_fa_coga_dpba" property="deprFaCogaDpba"/>
        <result column="amort_intang" property="amortIntang"/>
        <result column="amort_lt_deferred_exp" property="amortLtDeferredExp"/>
        <result column="loss_disp_fa" property="lossDispFa"/>
        <result column="loss_scr_fa" property="lossScrFa"/>
        <result column="loss_fair_valu" property="lossFairValu"/>
        <result column="fin_exp" property="finExp"/>
        <result column="loss_inv" property="lossInv"/>
        <result column="dec_def_inc_tax_assets" property="decDefIncTaxAssets"/>
        <result column="inc_def_inc_tax_liab" property="incDefIncTaxLiab"/>
        <result column="dec_inv" property="decInv"/>
        <result column="dec_oper_rece" property="decOperRece"/>
        <result column="inc_oper_payable" property="incOperPayable"/>
        <result column="net_profit" property="netProfit"/>
        <result column="minority_interest" property="minorityInterest"/>
        <result column="undistributed_profit_in" property="undistributedProfitIn"/>
        <result column="update_flag" property="updateFlag"/>
    </resultMap>

    <insert id="insertBatch">
        INSERT INTO cashflow (ts_code, ann_date, f_ann_date, end_date, report_type, comp_type,
            n_cashflow_act, n_cashflow_inv_act, n_cash_flows_fnc_act, free_cashflow,
            c_fr_sale_sg, c_fr_oth_sg, c_paid_goods_s, c_paid_to_for_empl, c_paid_for_taxes, c_paid_oth_op_f,
            c_paid_invest, c_paid_invest_f, c_pay_acq_const_fiolta, c_pay_acq_int_long_loan,
            disp_fix_assets_oth, n_invest_loss, c_fr_fnc_loan, c_fr_fnc_oth, proceeds_long_loan,
            c_paid_fin_fees, c_pay_dist_dpcp_int_exp, end_bal_cash, beg_bal_cash, n_cash_equ,
            n_increase_incl_child, prov_depr_assets, depr_fa_coga_dpba, amort_intang, amort_lt_deferred_exp,
            loss_disp_fa, loss_scr_fa, loss_fair_valu, fin_exp, loss_inv, dec_def_inc_tax_assets,
            inc_def_inc_tax_liab, dec_inv, dec_oper_rece, inc_oper_payable, net_profit, minority_interest,
            undistributed_profit_in, update_flag
        ) VALUES
        <foreach collection="list" item="i" separator=",">
            (#{i.tsCode}, #{i.annDate}, #{i.fAnnDate}, #{i.endDate}, #{i.reportType}, #{i.compType},
             #{i.nCashflowAct}, #{i.nCashflowInvAct}, #{i.nCashFlowsFncAct}, #{i.freeCashflow},
             #{i.cFrSaleSg}, #{i.cFrOthSg}, #{i.cPaidGoodsS}, #{i.cPaidToForEmpl}, #{i.cPaidForTaxes}, #{i.cPaidOthOpF},
             #{i.cPaidInvest}, #{i.cPaidInvestF}, #{i.cPayAcqConstFiolta}, #{i.cPayAcqIntLongLoan},
             #{i.dispFixAssetsOth}, #{i.nInvestLoss}, #{i.cFrFncLoan}, #{i.cFrFncOth}, #{i.proceedsLongLoan},
             #{i.cPaidFinFees}, #{i.cPayDistDpcpIntExp}, #{i.endBalCash}, #{i.begBalCash}, #{i.nCashEqu},
             #{i.nIncreaseInclChild}, #{i.provDeprAssets}, #{i.deprFaCogaDpba}, #{i.amortIntang}, #{i.amortLtDeferredExp},
             #{i.lossDispFa}, #{i.lossScrFa}, #{i.lossFairValu}, #{i.finExp}, #{i.lossInv}, #{i.decDefIncTaxAssets},
             #{i.incDefIncTaxLiab}, #{i.decInv}, #{i.decOperRece}, #{i.incOperPayable}, #{i.netProfit}, #{i.minorityInterest},
             #{i.undistributedProfitIn}, #{i.updateFlag}
            )
        </foreach>
    </insert>

    <delete id="deleteBatchByKeys">
        DELETE FROM cashflow WHERE (ts_code, end_date, report_type) IN
        <foreach collection="list" item="i" open="(" separator="," close=")">
            (#{i.tsCode}, #{i.endDate}, #{i.reportType})
        </foreach>
    </delete>

    <select id="selectLatestAnnouncedBefore" resultMap="cashflowMap">
        SELECT * FROM cashflow
        WHERE ts_code = #{tsCode}
          AND ann_date IS NOT NULL
          AND ann_date != ''
          AND ann_date &lt;= #{tradeDate}
          AND report_type = '1'
        ORDER BY end_date DESC
        LIMIT 1
    </select>

</mapper>
