<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arthur.stock.mapper.TradeCalMapper">

    <insert id="insertBatch">
        INSERT INTO trade_cal
        (exchange, cal_date, is_open, pretrade_date,
         is_first_of_week, is_last_of_week, is_first_of_month, is_last_of_month,
         is_first_of_quarter, is_last_of_quarter)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.exchange}, #{item.calDate}, #{item.isOpen}, #{item.pretradeDate},
             #{item.isFirstOfWeek}, #{item.isLastOfWeek},
             #{item.isFirstOfMonth}, #{item.isLastOfMonth},
             #{item.isFirstOfQuarter}, #{item.isLastOfQuarter})
        </foreach>
    </insert>

    <update id="updateRebalanceFlags" parameterType="com.arthur.stock.model.TradeCalDO">
        UPDATE trade_cal SET
            is_first_of_week    = #{isFirstOfWeek},
            is_last_of_week     = #{isLastOfWeek},
            is_first_of_month   = #{isFirstOfMonth},
            is_last_of_month    = #{isLastOfMonth},
            is_first_of_quarter = #{isFirstOfQuarter},
            is_last_of_quarter  = #{isLastOfQuarter}
        WHERE exchange = #{exchange} AND cal_date = #{calDate}
    </update>

    <update id="updateRebalanceFlagsBatch">
        UPDATE trade_cal SET
            is_first_of_week = CASE
                <foreach collection="list" item="item">
                    WHEN exchange = #{item.exchange} AND cal_date = #{item.calDate} THEN #{item.isFirstOfWeek}
                </foreach>
                ELSE is_first_of_week END,
            is_last_of_week = CASE
                <foreach collection="list" item="item">
                    WHEN exchange = #{item.exchange} AND cal_date = #{item.calDate} THEN #{item.isLastOfWeek}
                </foreach>
                ELSE is_last_of_week END,
            is_first_of_month = CASE
                <foreach collection="list" item="item">
                    WHEN exchange = #{item.exchange} AND cal_date = #{item.calDate} THEN #{item.isFirstOfMonth}
                </foreach>
                ELSE is_first_of_month END,
            is_last_of_month = CASE
                <foreach collection="list" item="item">
                    WHEN exchange = #{item.exchange} AND cal_date = #{item.calDate} THEN #{item.isLastOfMonth}
                </foreach>
                ELSE is_last_of_month END,
            is_first_of_quarter = CASE
                <foreach collection="list" item="item">
                    WHEN exchange = #{item.exchange} AND cal_date = #{item.calDate} THEN #{item.isFirstOfQuarter}
                </foreach>
                ELSE is_first_of_quarter END,
            is_last_of_quarter = CASE
                <foreach collection="list" item="item">
                    WHEN exchange = #{item.exchange} AND cal_date = #{item.calDate} THEN #{item.isLastOfQuarter}
                </foreach>
                ELSE is_last_of_quarter END
        WHERE
        <foreach collection="list" item="item" open="" separator=" OR " close="">
            (exchange = #{item.exchange} AND cal_date = #{item.calDate})
        </foreach>
    </update>

    <delete id="deleteBatchByKeys">
        DELETE FROM trade_cal
        WHERE
        <foreach collection="list" item="item" open="(" separator=" OR " close=")">
            (exchange = #{item.exchange} AND cal_date = #{item.calDate})
        </foreach>
    </delete>

    <delete id="deleteByExchangeAndCalDates">
        DELETE FROM trade_cal
        WHERE exchange = #{exchange}
          AND cal_date IN
        <foreach collection="calDates" item="d" open="(" separator="," close=")">
            #{d}
        </foreach>
    </delete>

    <!-- ==================== 数据管控检查 ==================== -->

    <!-- SSE/SZSE 在指定日期后 is_open 不一致的记录数 -->
    <select id="countSseSzseInconsistency" resultType="int">
        SELECT COUNT(*) FROM trade_cal a
        JOIN trade_cal b ON a.cal_date = b.cal_date
        WHERE a.exchange = 'SSE' AND b.exchange = 'SZSE'
        AND a.cal_date &gt;= #{startDate}
        AND a.is_open != b.is_open
    </select>

</mapper>
